.small-text {
    font-family: 'Marck Script', cursive;
}

.title {
    padding: 0.5%;
}

.info {
    padding-left: 2.5%;
    font-size:0.9em;
}

.fixed-tab {
    height:auto;
    display flex;
    flex-direction: column;
    align-items: center;
}

.indicator {
    background-color: mediumaquamarine !important;
}

.tab-image {
    width: auto;
    height: 300px;
}

.no-edges {
    border-radius: 0.35em;
}

#about {
   position: relative;
   border-top: 52px solid transparent;
   margin: -30px 0 0;
   -webkit-background-clip: padding-box;
   -moz-background-clip: padding;
   background-clip: padding-box;
}

#about:before {
   content: "";
   position: absolute;
   top: -2px;
   left: 0;
   right: 0;
   border-top: 2px solid #ccc;
}
